.full-screen {
    width: 100vw;
    height: 100vh;
}

.max-height-90vh {
    max-height: 90vh
}

.text-size-label {
    font-size: x-large;
}

.btn-kolapata {
    color: #000;
    background-color: #96F164 !important;
    border-color: #96F164 !important;
}

.bg-beige {
    background-color: beige;
}

.bg-beige-gradient {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fefcea+0,f5f5dc+100 */
    background: #fefcea;
    /* Old browsers */
    background: -moz-linear-gradient(top, #fefcea 0%, #f5f5dc 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #fefcea 0%, #f5f5dc 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #fefcea 0%, #f5f5dc 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefcea', endColorstr='#f5f5dc', GradientType=0);
    /* IE6-9 */

}

.bg-beige-gradient-dark {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fefcea+0,f5f5dc+57 */
    background: #fefcea;
    /* Old browsers */
    background: -moz-linear-gradient(top, #fefcea 0%, #f5f5dc 57%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #fefcea 0%, #f5f5dc 57%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #fefcea 0%, #f5f5dc 57%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefcea', endColorstr='#f5f5dc', GradientType=0);
    /* IE6-9 */

}

.bg-black-gradient {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#4c4c4c+0,595959+12,666666+25,474747+39,2c2c2c+50,000000+51,111111+60,2b2b2b+76,1c1c1c+91,131313+100;Black+Gloss+%231 */
    background: #4c4c4c;
    /* Old browsers */
    background: -moz-linear-gradient(top, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0);
    /* IE6-9 */

}

.bg-sky-gradient {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d6f9ff+0,9ee8fa+100;Blue+3D */
    background: #d6f9ff;
    /* Old browsers */
    background: -moz-linear-gradient(top, #d6f9ff 0%, #9ee8fa 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #d6f9ff 0%, #9ee8fa 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #d6f9ff 0%, #9ee8fa 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d6f9ff', endColorstr='#9ee8fa', GradientType=0);
    /* IE6-9 */
}

.bottom-border-gray {
    border-bottom: 1px solid gray;
}

.w-100px {
    width: 100px;
}

.w-150px {
    width: 150px !important;
}

.w-300px {
    width: 300px;
}

.w-350px {
    width: 350px;
}
.w-500px {
    width: 500px;
}
.w-32p {
    width: 32%;
}