.bgimg {
    background-image: url("../asset/page.jpg");
}

.tpbg {
    background-image: url("../asset/bg8.jpg");
}

.spbg {
    background-image: url("../asset/bg7.jpg");
}

.cpbg {
    background-image: url("../asset/bg6.jpg");
    background-size: cover;
}